
<div data-controller="autocomplete" class="container my-5">
  <div class="row">
    <div class="col-12">
      <form class="text-center" action="/clubs">
       <input data-target="autocomplete.input" data-action="keyup->autocomplete#fetchCities" class="w-100" type="text" autocomplete="off" name="city" value="<%= params[:city] %>" placeholder="Search for a city">
        <ul class="suggestions" data-target="autocomplete.suggestions" class="autocomplete">
        </ul>
      </form>
    </div>
  </div>


  <div class="row mb-5">
    <div class="col-12 mt-4">
      <h2> We found <%= @clubs.count %> <%= "club".pluralize(@clubs.count)  %>  </h2>
    </div>
    <% @clubs.each do |club| %>
      <div class="col-sm-12 col-lg-4">
          <%= link_to club do  %>
          <div class="card-club">
            <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('<%= cl_image_path club.photos.first.key %>')">
            </div>
            <div class="card-description p-1 d-flex justify-content-between">
              <h2 class="card-title"><%= club.name.truncate(14) %></h2>
              <h2 class=""><i class="fas fa-star"></i><%= club.average_rating %></h2>
            </div>
            <p class="ml-2"><%= club.city.name %></p>
          </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
