<div class="row">
    <div class="col-12">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @club.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
              <img src="<%= cl_image_path photo.key %>" class="d-block" alt="...">
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row my-2">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h2><%= @club.name %> </h2>
        <p><%= @club.city.name %></p>
      </div>


        <% 5.times do |x| %>
          <i class="fa fa-star stars" style="color: <%= x < @club.average_rating ? '#f5bb1b' : 'grey'  %>;"></i>
        <% end %>
        (<%= @club.reviews.count %> <%= 'Review'.pluralize(@club.reviews.count) %>)
    </div>
    <div class="col-12">
      <hr>
      <div class="club-info-banner">
        <div>
           <i class="ml-1 fas fa-map-marker-alt"></i>
        </div>
          <p> <a style="text-decoration: none;color: white;" target="_blank" href="<%= @club.address %>"> View Location</a></p>
      </div>
      <div class="club-info-banner">
        <div>
          <i class="fas fa-music"></i>
        </div>
         <p><%= @club.genre %></p>
      </div>
      <div class="club-info-banner">
        <div>
          <i class="fas fa-door-open"></i>
        </div>
         <p><%= @club.for_who %></p>
      </div>
      <div class="club-info-banner ">
        <div>
          <i class="fas fa-tshirt"></i>
        </div>
        <p><%= @club.dress_code %></p>
      </div>
      <div class="club-info-banner ">
        <div>
          <i class=" ml-1 far fa-clock"></i>
        </div>
         <p>From: <%= @club.open_from %>:00 to: <%= @club.closes_at %>:00</p>
      </div>
      <div class="club-info-banner">
        <div>
          <i class="ml-1 fas fa-calendar-alt"></i>
        </div>

        <p class="">
          <% last = @club.day.count %>
          <% @club.day.each_with_index do |d, index| %>
            <%= d[0..2] %> <%= "-" unless index == 0 || index == last - 1%>
          <% end %>
        </p>
      </div>
      <div class="club-info-banner mx-auto">
        <img class="icon" src="https://image.flaticon.com/icons/svg/3094/3094049.svg" alt=""> <p><%= @club.table_service == true ? 'VIP Table Service' : 'No VIP Table Service' %></p>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-12"><hr></div>
    <div class="col-4">
      <%= link_to @club.facebook do  %>
        <i class="fab fa-facebook"></i>
      <% end %>
      </div>
      <div class="col-4">
        <%= link_to @club.instagram do  %>
        <i class="fab fa-instagram"></i>
        <% end %>
      </div>
      <div class="col-4">
        <%= link_to @club.website do  %>
        <i class="fas fa-globe"></i>
      <% end %>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-lg-6 my-2">
        <%= link_to 'Call Now', "tel:#{@club.phone}", class: 'btn btn-vibe w-100' %>
      </div>
      <div class="col-sm-12 col-lg-6 my-2">
        <button type="button" class="btn btn-vibe-outline w-100" data-toggle="modal" data-target="#exampleModal">
          Leave Review
        </button><%= render 'shared/modal' %>
      </div>
  </div>
  <div class="row ">
    <div class="col-12 my-3">
      <h2 class="heading-2">Similar Clubs</h2>
    </div>
    <% @similar.each do |club| %>
      <div class="col-sm-12 col-lg-4">
          <%= link_to club do  %>
          <div class="card-club">
            <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('<%= cl_image_path club.photos.first.key %>')">
            </div>
            <div class="card-description p-1 d-flex justify-content-between">
              <h2 class="card-title"><%= club.name.truncate(9) %></h2>

              <p class="m-2"><%= club.city.name %></p>
            </div>
            <p class="ml-1">
                <% 5.times do |x| %>
                  <i class="fa fa-star stars" style="color: <%= x < club.average_rating ? '#f5bb1b' : 'grey'  %>;"></i>
                <% end %>
              (<%= club.reviews.count %> <%= 'Review'.pluralize(club.reviews.count) %>)
              </p>

          </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>



